/* Sidebar nav */

.sidebar-nav-icons {
    margin-top: 0.4rem;
    display: inline-block;
    vertical-align: bottom;
}

/* Notion HTML */
.notion-callout {
    white-space: pre-wrap;
    display:flex;
    background: rgb(235,236,237);
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.notion-icon {
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    margin-right: 0.5em;
}
